/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Rye&display=swap');

/* CSS Variables */
:root {
    --primary-font: "Rye", cursive;
    --secondary-font: "Cormorant Garamond", serif;
    --primary-color: #680b32; /*dark-pink*/
    --secondary-color: #bb2e52; /*light-pink*/
    --highlight-color: #400a5a; /*dark-purple*/
    --highlight-color-light: #75189d; /*light-purple*/
}



/* Global styles */

body {
    padding-top: 57.15px; /* pushes the top of the header down under fixed navbar */
}

h1 {
    color: blue;
    font-family: var(--primary-font);
}

p {
    color: red;
    font-family: var(--secondary-font);
}





